<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-box">
        <div class="login-box-formbox">
          <div class="login-box-signup">
            Don't have an account? <a href="#">Sign Up</a>
          </div>
          <div class="login-box-login">
            <h1>Welcome to StegHide</h1>
            <p>
              Steganography is the art of hiding.
            </p>
            <form action="#">
              <div>
                <label for="email"> E-Mail</label>
                <br>
                <br>
                <input type="email" name="email" class="input-email" />
              </div>
              <div>
                <br>
                <label for="password"> Password</label>
                <br>
                <br>
                <input type="password" name="password" class="input-password" />
              </div>
              <div>
                <br>
                <input type="button" value="Login to account" class="btn" />
              </div>
            </form>
          </div>
        </div>
        <div class="login-box-quotebox">
          <div class="quote-container">
            <div class="quote">Data is more valuable than Money.</div>
            <div class="quote-small">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              repellendus cumque voluptatum animi, illum veniam?"
            </div>
          </div>
        </div>
      </div>    
</body>
</html>
